/* Jumbotron */
.navbar {
    position: relative;
    z-index: 1;
}

.jumbotron {
    background-image: url(img/jumbotron2.png);
    background-size: cover;
    height: 450px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px !important;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-size: 34px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Info Panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
}

.info-panel img {
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #acacaa;
    margin-top: -5px;
    font-weight: 200;
}

/* Informasi */
.informasi1 {
    margin-top: 120px;
}

.informasi1 h3 {
    font-size: 48px;
    margin-top: 30px;
}

.informasi1 p {
    font-size: 18px;
    color: #acacaa;
}

.informasi2 {
    margin-top: 50px;
}

.informasi2 h3 {
    font-size: 48px;
    margin-top: 30px;
}

.informasi2 p {
    font-size: 18px;
    color: #acacaa;
}

/* Kegiatan */
.kegiatan {
    margin-top: 100px;
    margin-bottom: 100px;
}

.kegiatan h2 {
    font-size: 32px;
}

.acara {
    margin-top: 20px;
    margin-bottom: 20px;
}

.anggaran {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Anggaran */
.rincian {
    margin-top: 20px;
}

/* tentang kami */
.tentang_kami {
    background-color: black;
    height: 80px;
    padding-top: 20px;
}

.tentang_kami p {
    color: white;
    text-align: center;
}

.tentang_kami .email {
    margin-top: -20px;
}



/* DESKTOP VERSION
   Code ini hanya berjalan di tampilan desktop tidak di mobile
   jika ukurannya kurang dari 992px maka code ini tidak berjalan
   yang berjalan adalah code di atas 
*/
@media (min-width: 992px) {
    .navbar-nav .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
        font-weight: 500;
    }

    .nav-link:hover::after {
        content: "";
        display: block;
        border-bottom: 3px solid white;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        /*  Pada saat navbar diklik navbar bergerak, sekitar 8px
            jumlah dari border-bottom dan padding-bottom
            maka margin-bottom minus digunakan supaya navbar tidak bergerak
        */
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -100px;
        height: 600px;
    }

    .jumbotron .display-4 {
        font-size: 62px;

    }

    .informasi1 {
        margin-top: 120px;
    }

    .informasi1 h3 {
        font-size: 52px;
        margin-top: 30px;
    }

    .informasi1 p {
        font-size: 18px;
        color: #acacaa;
    }

    .informasi2 {
        margin-top: 50px;
    }

    .informasi2 h3 {
        font-size: 52px;
        margin-top: 30px;
    }

    .informasi2 p {
        font-size: 18px;
        color: #acacaa;
    }
}